:root {
    --primary-accent-color: #2196f3;
    --primary-text-color: #757575;
    --primary-title-color: #212121;
}



body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/*H-E-A-D-E-R*/

.header {
  background: white;
}

/*.header-nav {
}*/

.header-nav-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--primary-accent-color);
}

.header-nav-logos {
  color: #000000;
}

/*.header-nav-list {
}

.header-nav-item {
}*/

.header-nav-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-title-color);
}

.header-nav-list .header-nav-link:hover,
.header-nav-link:focus {
  color: var(--primary-accent-color);
}

/* .header-contact-list {
}

.header-contact-item {
} */

.header-contact-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.header-contact-list .header-contact-link:hover,
.header-contact-link:focus {
  color: var(--primary-accent-color);
}

/*M-A-I-N*/

.hero {
  background: #2f303a;
}

.hero-title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-btn {
  /*boton*/
  background: var(--primary-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.btn-text {
  /*boton text*/
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

/* .possibility {
}

.possibility-title {
}

.possibility-list {
}

.possibility-item {
} */

.possibility-item-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  /* color: var(--primary-title-color); */
}

.possibility-text {
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.header-contact-list {
}

.work {
}

.work-title {
}

.work-list {
}

.work-item {
}

.work-icon {
}

.team {
  background: #f5f4fa;
}
.team-title {
}

.team-list {
}

.team-card {
}

.team-icon {
}

.team-item {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}

.team-text {
  font-style: normal;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/*F-O-O-T-E-R*/

.footer {
  background: #2f303a;
}
.footer-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--primary-accent-color);
}

.footer-logos {
  color: #ffffff;
}

.footer-address-list {
}

.footer-address-item {
}

.footer-address-map {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-address-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/*----PORTFOLIO.html----*/
/*---M-A-I-N-portfolio*/

.cross {
}

.cross-title {
}

.cross-list {
}

.cross-item {
}

.cross-btn {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}

.portfolio {
}

.portfolio-title {
}

.portfolio-list {
}

.portfolio-item {
}

.portfolio-img {
}

.portfolio-card-title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
}

.portfolio-text {
  font-style: normal;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
