:root {
  --primary-accent-color: #2196f3;
  --secondary-accent-color: #ffffff;
  --primary-text-color: #757575;
  --primary-title-color: #212121;
  --primary-bg--color: #F5F5F5;
  --light-bg-color: #F5F4FA;
  --dark-bg-color: #2F303A;

   
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/*H-E-A-D-E-R*/

.header {
  background: var(--secondary-accent-color);
}

/*.header-nav {
}*/

.header-nav-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--primary-accent-color);
}

.header-nav-logos {
  color: #000000;
}

/*.header-nav-list {
}

.header-nav-item {
}*/

.header-nav-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-title-color);
}

.header-nav-list .header-nav-link:hover,
.header-nav-link:focus {
  color: var(--primary-accent-color);
}

/* .header-contact-list {
}

.header-contact-item {
} */

.header-contact-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.header-contact-link:hover,
.header-contact-link:focus {
  color: var(--primary-accent-color);
}

/*M-A-I-N*/

.hero {
  background: var(--dark-bg-color);
}

.hero-title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-accent-color);
}

.hero-btn {
  /*boton*/
  background: var(--primary-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.btn-text {
  /*boton text*/
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--secondary-accent-color);
}

/* .possibility {
}*/

.possibility-title {
  color: var(--primary-title-color);
  opacity: 0;
}

/*.possibility-list {
}

.possibility-item {
} */

.possibility-item-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-title-color);
}

.possibility-text {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/*.work {
}*/

.work-title {
color: var(--primary-title-color);
}

/*.work-list {
}

.work-item {
}

.work-icon {
} */

.team {
  background: var(--light-bg-color);
}

.team-title {
  color: var(--primary-title-color);
}

/*.team-list {
}*/

.team-card {
background: #ffffff;
}

/*.team-icon {
} */

.team-item {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}

.team-text {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/*F-O-O-T-E-R*/

.footer {
  background: var(--dark-bg-color);
}
.footer-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--primary-accent-color);
}

.footer-logos {
  color: var(--secondary-accent-color);
}

/* .footer-address-list {
}

.footer-address-item {
} */

.footer-address-map {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-accent-color);
}

.footer-address-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-address-map:hover,
.footer-address-map:focus,
.footer-address-link:hover,
.footer-address-link:focus {
  color: var(--primary-accent-color);
}

/*----PORTFOLIO.html----*/
/*---M-A-I-N-portfolio*/

/* .cross {
}*/

.cross-title {
  color: var(--primary-title-color);
  opacity: 0;
}

/*.cross-list {
}

.cross-item {
} */

.cross-btn {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
  background-color: var(--light-bg-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.cross-btn:hover,
.cross-btn:focus {
  color: var(--secondary-accent-color);
  background-color: var(--primary-accent-color);
}

 .portfolio {
 background: var(--primary-bg--color); 
}

.portfolio-title {
  color: var(--primary-title-color);
  opacity: 0;
}

/* .portfolio-list {
} */

.portfolio-item {
  background: #ffffff;
}

/* .portfolio-img {
} */

.portfolio-card-title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
}

.portfolio-text {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
